/* Contact info styling */

.contact__facebook {
  margin: auto;
  width: 20px;
  height: 15px:
}

.contact__rssFeed {
  margin: auto;
  width: 20px;
  height: 20px:
}

.contact__twitter {
  margin: auto;
  width: 20px;
  height: 20px:
}

.contact__youtube {
  margin: auto;
  width: 20px;
  height: 20px:
}
