/* Contact info styling */

.contact__color {
  background: white;
  padding: 10px;
  margin-bottom: 20px;
}

.contact__leftAlign {
  display: inline-block;
  width: 50%;
  height: 50%;
}

.contact__rightAlign {
  display: inline-block;
  width: 45%;
}

.contact__facebook {
  margin: auto;
  width: 20px;
  height: 20px;
  background-color: rgb(79,	79,	79);
  opacity: .5;
}

.contact__rssFeed {
  margin: auto;
  width: 20px;
  height: 20px;
  background-color: rgb(174,	174,	174);
  opacity: .5;
}

.contact__twitter {
  margin: auto;
  width: 20px;
  height: 20px;
  background-color: rgb(122,	122,	122);
  opacity: .5;
}

.contact__youtube {
  margin: auto;
  width: 20px;
  height: 20px;
  background-color: rgb(117,	117,	117);
  opacity: .5;
}

.contact__inputName {
  border-top: 3px solid grey;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  border-left: 3px solid grey;
  width: 100%;
  height: 30px;
  margin: 8px 0 8px 30px;
  padding-left: 10px;
  color: grey;
  text-transform: uppercase;
}

.contact__inputEmail {
  border-top: 3px solid grey;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  border-left: 3px solid grey;
  width: 100%;
  height: 30px;
  margin: 0 0 8px 30px;
  padding-left: 10px;
  color: grey;
  text-transform: uppercase;
}

.contact__inputTextArea {
  border-top: 3px solid grey;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  border-left: 3px solid grey;
  width: 100%;
  margin: 0 0 8px 30px;
}

.contact__submit {
  margin: 0 0 0 200px;
  background: rgb(177, 43, 50);
  padding: 5px 50px;
  border: none;
  color: white;
}
