/* grid css */

* {
  box-sizing: border-box;
}

.grid__row {
  font-size: 0;
  background: white;
}

.grid__column {
  display: inline-block;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  /*background: rgb(251	251	251);*/
  width: 33.33%;
}

.article__readMore {
  margin: 0 55px;
  text-align: center;
  color: rgb(177, 43, 50);
  text-transform: uppercase;
  font-weight: bold;
}
