/* grid css */

* {
  box-sizing: border-box;
}

.grid__row {
  font-size: 0;
  background: white;
}

.grid__column {
  display: inline-block;
  font-size: 14px;
  background: rgb(251	251	251);
  width: 33%;
  padding-left: 10px;
  padding-right: 10px
}

.article {
  background-repeat: no-repeat;
  background-size: cover;
}
