/* main css */

/* saw this in codeacademy.com on css tut, seems to be working */
body {
  display: block;
  margin: auto;
  width: 650px;
  background-image: url("../assets/bg.jpg");
}

/* Social Media Navigation */

.nav__socialMediaMain {
  display: inline-block;
  
}

.nav__socialMedia {
}

.nav__facebook {
  margin: auto;
  width: 25px;
  height: 25px;
}

.nav__rssFeed {
  margin: auto;
  width: 25px;
  height: 25px;
}

.nav__twitter {
  margin: auto;
  width: 25px;
  height: 25px;
}

.nav__youtube {
  margin: auto;
  width: 15px;
  height: 15px;
}
/* Navigation bar */
.nav__bar {
  text-align: center;
}
