/* main css */

/* saw this in codeacademy.com on css tut, seems to be working */
body {
  display: block;
  margin: auto;
  width: 650px;
  background-image: url("../assets/bg.jpg");
}

/* Social Media Navigation */
.socialMedia__nav {
  width: 300px;
  height: 50px;
}

.facebook__nav {
  display: inline-block;
  margin: auto;
  width: 15px;
  height: 15px;
}

.rssFeed__nav {
  display: inline-block;
  margin: auto;
  width: 15px;
  height: 15px;
}

.twitter__nav {
  display: inline-block;
  margin: auto;
  width: 15px;
  height: 15px;
}

.youtube__nav {
  display: inline-block;
  margin: auto;
  width: 15px;
  height: 15px;
}
/* Navigation bar */
.navBar {
  text-align: center;
}
